// Fuentes
$fuente_headings: 'Roboto', sans-serif;
$fuente_textos: 'Montserrat', sans-serif;
$boton: 'Noto Sans', sans-serif;

// Tamaño de Media Queries
$telefono: 375px;
$tablet: 768px;
$desktop: 1024px;

// Colores

$rosa: #f9ded8;

$blanco: #FFFFFF;
$gris: #767676;
$grisOscuro: #4B5563;
$grisClaro:#f3f4f6;
$negro: #111;
$verde: #3DB46D;
$rojo:#e25c3d;
$separacion: 5rem;